* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
width: 30%;
}
.logo img{
    width: 100%;
}
.logo1 img{
    width: 50%;
}
.disp-none{
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

/* bacground-img */
.rasm-glav {
    background-image: url("image/stom22.jpg");

    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    height: 750px;
    background-attachment: fixed;
    background-size: 100%;
    /* filter: brightness(0.5); */
    object-fit: cover;
}

#vrac-rasm {
    height: 700px;
}

#xizmat-rasm {
    height: auto;
}

/* logo */
.logo-glav img {
    width: 150px;
}

.menu-web {
    display: flex;
    justify-content: space-around;
}
.menu{
    align-items: center;
    display: flex;
  gap: 30px;
}
.menu ul {
    align-items: center;
    display: flex;
    left: 0;
    right: 0;
    gap: 20px;
 
}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
 
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: red;

}
.mob-menu{
    display: none;
}
.lunge a {
    text-decoration: none;
    padding: 2px;
    color: white;
}

#ru a:hover {
    color: red;
    transition: 0.3s;
}

#en a:hover {
    color: red;
    transition: 0.3s;
}

/* center-page */

.center-page {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10%;

}

.center-page div {
    padding: 20px;
}

#tall {
    font-size:25px;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: #0097ff;

}

#bold {
    font-size: 25px;
}

#play img {
    width: 60px;
    cursor: pointer;
}

.video-1 {
    display: none;
}

.video-1 video {
    margin: 0 5%;
    width: 90%;
    height: 80%;
    z-index: 2;
    position: absolute;
    margin-top: 30px;
}

#play-menu {
    display: flex;
    align-items: center;
}

.x p {
    cursor: pointer;
    padding: 20px;
    justify-content: flex-end;
    display: flex;
    font-size: 30px;
}

/* Ñenter-button */
#center-button {
    margin: 0% 60%;
    width: 23%;
    height: 70px;
    border: 1px solid #3473D5;
    text-align: center;
    background-color: #3473D5;
    color: white;
    font-size: 18px;
}

#center-button:hover {
    background-color: white;
    color: #3473D5;
    transition: 0.5s;
    border: 0px;
}

/* center-info */
.lof img{
    width: 100px;
}
.center-info-txt {
    border-radius: 5px;
    margin: 70px;
    margin-top: -210px;
    width: 23%;
    height: 300px;
    background-color: white;
    color: #3473D5;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 50px 10px black;
   position: fixed;
    z-index: 1;


}

.center-info-txt p {
    margin: 30px;
}

/* page3 */
.page-3 {
    display: flex;
    padding: 20px 100px;
    justify-content: flex-start;
}

#page-3-1 {
    height: 350px;
    width: 25%;
    background-color: #3473D5;

}

#page-3-1 h4 {
    margin: 50px 50px 0;
    color: white;
    font-size: 25px;
}

#page-3-2 {
    width: 50%;

}

#page-3-2 h4 {
    margin: 50px;
    color: #3473D5;
    font-size: 25px;
}

#page-3-2 p {
    font-size: 18px;
    color: gray;
    margin: 0 30px 30px;
}

/* page-foto */
.page-foto {
    justify-content: space-around;
    display: flex;
   
 
    
}
.foto-page{
    flex: 0 0 auto;
    width: calc(33% - 20px);
}
#foto-page img:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}

#foto-page img {
   
   width: 100%;
   object-position: center;
   object-fit: cover;
    border-radius: 40px;
}

#foto-page p {
    text-align: center;
    font-size: 20px;
}

/* PAGE-ustiga */
#page-foto-ustiga {
    width: 20%;
    height: 200px;
    background-color: white;
    margin-top: -457px;
    margin-left: 100px;

    position: absolute;
}

#page-foto-ustiga h4 {
    padding: 20px 0 0;
    text-align: center;
    font-size: 20px;
}

#page-foto-ustiga p {
    padding: 30px;
}

/* page4 */
.page-4 {
    display: flex;
    width: 100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
 margin-top: -20px;
    
 
}

.page-4 div {
    padding: 30px;
}

.f4 img {
    width: 80px;
}

.f4-4 img {
    width: 80px;
}

.f4-none-web img {
    display: none;
    width: 80px;
}

#a01 {
    background-color: white;
    color: #34bfd5;
    width: 100%;
    font-size: 20px;
    border: 1px solid #34bfd5;
}

#a011 {
    font-size: 20px;
    background-color: white;
    color: #34bfd5;
    width: 100%;
    height: 380px;
    border: 1px solid #34bfd5;
}

#a02 {
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: #34bfd5;
    border: 1px solid white;
}

#a022 {
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: #34bfd5;
    border: 1px solid white;
}

/* klent-primium */
#kelnt-primium {
    align-items: flex-start;
    display: flex;
    padding: 40px;

}

.blok-1 {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 40%;
    height: auto;
    background-color: #3473D5;

}

.blok-2 {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #3473D5;
    width: 45%;
    height: 450px;
    border: 1px solid #3473D5;
}

.blok-2 h4 {
    padding: 70px 70px 30px 70px;
    font-size: 22px;
}

.blok-2 p {
    padding: 10px 70px;
}

.blok-3 {
    box-shadow: 0 0 20px 3px black;
    background-color: white;
    color: #3473D5;
    border: 1px solid #3473D5;
    height: 450px;
    width: 22.5%;
}

.blok-3 p {
    text-align: center;
    padding: 50px;
}

.blok-3 h1 {
    text-align: center;
    font-size: 30px;
}

.blok-3 li {
    margin: 0px 0 0px 80px;
    padding: 20px;
    background-color: #3473D5;
    width: 55%;
    height: 60px;
    border-radius: 30px;
}

.blok-3 li a {

    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

/* hr-menedjer */
.hr-menedjer img {
    margin-left: 34px;
    position: absolute;
    width: 28%;
    height: auto;
    margin-top: -489px;
}

/* footer */
footer {
    background-color: #3473D5;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

}

.footer span i {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    margin-left: 60px;
}

.footer span h3 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.footer span p {
    color: white;
    padding: 10px;
    text-align: center;
}

.lokation {
    font-size: 20px;
}

/* web-icon */
.web-icon {
    text-align: center;
    color: white;
    padding: 20px;
}

.web-icon span {
    padding: 20px;
}

/* bottom menu */
.buttom-menu {
    height: 100px;
}

#buttom-menu {
    display: flex;
    justify-content: space-evenly;
}

#buttom-menu ul {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttom-menu ul li {
    list-style-type: none;
    padding: 35px;
}

#buttom-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#buttom-menu ul li a:hover {
    color: red;
    transition: 0.3s;
}

/* info */
.info2 {
    margin: 40px 50px;
    box-shadow: 0 0 50px 10px;
}

.info22 {
    width: 100%;

    height: 600px;
    display: flex;
    text-align: center;
    background-color: white;
}

#info22 p {
    margin: 20px;

    display: block;
}

#about-none{
    display: none;
}



.info23 {
    background-color: #3473D5;
    color: white;
}

.info24 {

    color: #3473D5;
}


/* 
#log,
#logg,
#loggg,
#logggg {
    display: none;
} */








#log1 img{
    width: 100%;
    height: auto;
     
}
#log1 img:hover{
    transition: 0.5s;
    filter: brightness(0.5);
}
#logg1 img {
    margin-left: 7%;
    margin-top: -17%;
    position: absolute;
    width: 180px;
    height: 180px;

}

#loggg1 img {
    margin-left: 7%;
    margin-top: -17%;
    position: absolute;
    width: 180px;
    height: 180px;

}

#logggg img {
    margin-left: -7%;
    margin-top: -250px;
    position: absolute;
    width: 200px;

}

/* vrac body */
#vrac-none{
    display: none;
}
.body-page {
    display: flex;
    justify-content: center;
   margin: 3% 0 0 0;
}

.body-page-1 {
    background-color: white;
    width: 30%;
    border: 1px solid grey;
    color: #3473D5;
    box-shadow: 0 0 50px 10px black;
}

.body-page-1 img {
    width: 150px;
   
}

.body-page-1 h1 {
    text-align: center;
    padding: 20px;
    color: #3473D5;
}

.body-page-1 li {
    padding: 0px;
    margin: 20px;
}

.body-page-1 a {
    text-decoration: none;
    color: #3473D5;
}

#left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* xizmatlar */
.xizmatlar {
    color: #3473D5;
    background-color: white;
    height: auto;
    width: 90%;
    margin: 3% 5%;
    box-shadow: 0 0 50px 10px black;
}

.xizmatlar h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#xizmatlar-p p {
    text-align: center;
    font-size: 20px;
}

/* xizmat-menu */
#xizmatlar {
    display: flex;
    justify-content: space-around;
}

.xizmat-menu h4 {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.xizmat-menu p {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: left;

}

.xizmat-icon i {
    font-size: 20px;
    padding: 20px;
}

#info-a p {
    color: red;

}
.xz img{
    width: 80px;

}
/* down-1 */
.down-1,
.down-2,
.down-3,
.down-4,
.down-5 {
    display: none;
    color: grey;
    font-size: 10px;

}

.lunge {
    text-align: center;
}

.web-site {
    text-align: center;
    font-size: 12px;
}

* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


.container1 {
   margin: 3% 0 0 0;
  display: flex;
  max-width: 100%;
  height: 630px;
  background-color: white;
  box-shadow: 0 0 30px 10px;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.form-image img{
    width: 85%;
    padding: 10px;
    
}

.right {
    
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("image/info11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.right span h1{
    margin-top: 250px;
    text-align: center;
    font-size: 30px;
    color: white;
}



.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.form {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 66px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

#animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  #animation2 {
    animation-name: move;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}







#menu-bar {
    position: fixed;
    z-index: 20;
    
    width: 100%;
    text-align: center;
}

.menu-mob {
    
    padding: 30px;
    height: 500px;
    background-color: #0097ff;
    z-index: 20;
}
.menu-mob li{
    padding: 15px;
}
.menu-mob a {
    text-decoration: none;
    color: white;
  
   font-size: 20px;
}

.menu-mob p {
    margin: 40px;
    color: white;

}

.close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-menu span {
    font-size: 20px;
}
.menu-mob img{
    width: 150px;
}

#sidebar{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #000;
    left: -320px;
    transition: .3s;
    z-index: 10;
}
#sidebar.active{
    left: 0;
}
#sidebar ul li{
    list-style-type: none;
    
    margin: 5%;
    padding: 20px;
}
#sidebar ul li a{
   text-decoration: none;
   color: white;
   text-align: start;
   font-size: 17px;
}
#sidebar .toggle-btn{

    position: absolute;
    top:30px;
    left: 330px;
}
.toggle-btn span{
    width: 45px;
    height: 4px;
    background-color: white;
    display: block;
    margin-top: 4px;
}
@media only screen and (min-width: 800px) {
    #sidebar {
        display: none;
    }
}
.hamburger_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    transform: translateX(calc(100% + 80px));
background-color: #0097ff;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 99999;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: none;
  }
  .hamburger_menu.active {
    transform: translateX(0);
    opacity: 1;
  }
  .hamburger_menu .hamburger_wrapper {
    position: relative;
    padding: 25px 20px 145px;
    z-index: 1;
    min-height: 100%;
  }
  .hamburger_wrapper .hamburger_menu_list{
    margin-top: 40px;
  }
  .hamburger_wrapper .hamburger_menu_list li {
    position: relative;
    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  .hamburger_wrapper .hamburger_menu_list li > a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding: 10px 0;
    padding-right: 20px;
  }
  .hamburger_wrapper .hamburger_menu_list li a {
    border-bottom: 1px solid #fff;
  }
  .hamburger_wrapper .hamburger_menu_list li a:hover{
    color: #edd290;
  }
  .hamburger_wrapper .hamburger_close button {
    display: inline-block;
    font-size: 16px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: transparent;
    color: #010f1c;
    outline: none;
    border: none;
  }
  .hamburger_menu .hamburger_wrapper .hamburger_close {
    position: absolute;
    top: 25px;
    right: 20px;
  }
  .hamburger_menu .logo img{
    width: 50px;
    height: 50px;
  }
  body.disable{
    overflow: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.8);
    z-index: 105;
    pointer-events: none;
  }
  .overlay.active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
  header{
    
    height: 63px;
}
header .header_row{
  
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
audio, canvas, iframe, img, svg, video, i {
    vertical-align: middle
}
header .header_row .header_menus{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 50px;
}
.header_menus li{
    list-style-type: none;
}
.header_menus li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .3s all ease;
    position: relative;
}
.header_menus li a:before{
    position: absolute;
    content: "";
    left: auto;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 1px;
    transition: 0.3s all ease;
    background-color: #0097ff;
}
.header_menus li a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
.header_menus li a:hover{
    color: #0097ff;
}
.lang_switch{
    position: relative;
}
.lang_switch .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang_switch .arrow svg{
    width: auto;
    height: 6px;
}
.lang_switch .selected_lang{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.lang_switch .mobile{
    display: none;
}
.lang_switch a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
}
.lang_switch:hover .submenu{
    opacity: 1;
    visibility: visible;
}
.lang_switch .submenu{
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    background-color: #2e2d2d;
    border-radius: 4px;
    transition: .3s all ease;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    z-index: 20;
    width: 100%;
}
.lang_switch .submenu a.active{
    pointer-events: none;
    color: blue;
}
.lang_switch .submenu a{
    display: flex;
    font-size: 16px;
    color: #fff;
    transition: .3s all ease;
    align-items: center;
}
.lang_switch .submenu a:hover{
    color:  blue;
}
header #hamburger_btn{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
  }

@media all and (max-width: 380px){
    .hamburger_menu{
        width: 100%;
    }
}
@media all and (max-width: 576px){
    header #hamburger_btn{
        display: flex;
    }
    header .header_row nav{
        display: none;
    }
    header .header_row .hamburger{
        order: 2;
    }}

    @media all and (max-width: 768px){
        header .header_row .header_menus{
            gap: 15px;
        }
        .media-page-4 {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid grey;
        height: auto;
    }

    .media-page-44 {
        display: flex;
        flex-wrap: wrap;
    }}
        @media all and (max-width: 1050px){
            header .header_row{
                padding: 15px 0;
            }
            header .header_row .header_menus{
                gap: 0 35px;
            }
            header{
                height: auto;
            }
            .media-page-4 {
                display: flex;
                flex-wrap: wrap;
                border: 1px solid grey;
                height: auto;
            }
        
            .media-page-44 {
                display: flex;
                flex-wrap: wrap;
            }}